body {background-color:mistyrose;}
h2{
    color: rgb(22, 59, 95);
    font-family: monospace;
    font-size: 300%;
}
h3{
    color:rgb(22, 59, 95);
    font-family: monospace;
    font-size: 250%;
}

p{
    color:black;
    font-family: serif;
    font-size: 150%;
}
ol{
    color:black;
    font-family: serif;
    font-size: 150%;
}
h1{
    font-size: 350%;
}
a{
    font-family:sans-serif;
    font-size: 100%;
}
a:link, a:visited {
  background-color:#6b4092;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(179, 38, 33);
}
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}
h1{
    color: rgb(22, 59, 95);
    font-family: monospace;
    font-size: 300%;
}


ol{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}
